

beautifulsoup4==4.8.2
Bio==1.6.2
biopython==1.83
datasets==2.16.1
joblib==1.3.2
lxml==5.1.0
matplotlib==3.8.2
metapub==0.5.5
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
rdflib==7.0.0
Requests==2.31.0
scikit_learn==1.4.0
seaborn==0.13.2
spacy==3.7.4
SPARQLWrapper==2.0.0
SPARQLWrapper==2.0.0
textract==1.6.5
torch==1.13.1
tqdm==4.66.1
transformers==4.36.2
wikidataintegrator==0.9.30
